h1 {text-align:center;
font-weight:bold;
border: 1px solid #000000}

header {background-color: #cbcbcb;
width: 100%;
padding:10px;}
h2 {text-align: center;
text-decoration: underline;}
h4 {text-align:center;
}
h3 {text-align:center;

}

#head4{
  font-size: 20px;
}

p { margin:10px }

.candace-text {position: relative; left:450px; bottom:250px; 
	width: 250px;}
.lorri-text {position: relative; left:450px; bottom:250px; 
	width: 250px;}
.geno-text {position: relative; left:450px; bottom:250px; 
	width: 250px;}
.kim-text {position: relative; left:450px; bottom:250px; 
	width: 250px;}

#center{display: block;margin-left: auto; margin-right:auto; 
	width: 30%;}
.align {margin-left: 350px;}
.align-geno {margin-left: 300px;}


section {float: left;
width: 33%;
padding-left: 2em; padding-right: 2em; 
background-color: lightgray;
}
main{ background-color: lightgray; 
padding: 10px;
width: 100%;}

main a {text-decoration: none;}
main a:link   { color: #000000; }
main a:visited {color: #000000}
main a:hover   { color: #0ffff0; }

nav a:link   { color: #0000ff; }
nav a:visited {color: #0000ff}
nav a:hover   { color: #0ffff0; }

nav {
  width: 100%;
  height: 40px; 
  display: flex; 
  justify-content: center;
  align-items: center; 
  padding: 0 10px;
  background-color: #cbcbcb;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li { 
   display: inline;
   padding: 0 10px;

}
nav ul ul { position: absolute;
            background-color: #ffffff;
            padding: 0;
            display: none;
            font-weight: bold;
          }
nav ul ul li { border: 1px solid #000000;
         display: block;
         width: 8.1em;
         padding-left: em;
         margin-left: 0; 
        }
nav li:hover ul { display: block; }

navbar a:link    { color: #00ff00; }
navbar a:hover   { color: #0000ff; }
navbar {
	
  width: 100%;
  height: 40px; 
  display: flex; 
  justify-content: center;
  align-items: center; 
  padding: 0 10px; 
  background-color: #cbcbcb;
}
navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

navbar li {
  margin: 0 10px; 
   display: inline;

}

footer { text-align: center;
background-color: #cbcbcb;
width: 100%; 
padding: 0 10px;}

#absolute{position: absolute; 
	top: 180px;
	left: 50px;
	width:200px; }

#list{
	position: absolute;
	top: 180px;
	left: 1500px;
	width: 200px;
}


#img{
	position: absolute;
	top: 500px;
	left: 1500px;
	width: 300px;
}

#img2{

	position: absolute;
	top: 500px;
	left: 50px;
	width: 300px;
}
#details {position: absolute; top: 130px;
	left: 1550px;
	font-size: 30px;}

#heading2{position: absolute; top: 130px;
	left: 80px}
