h1 {text-align:center;
font-weight:bold;
border: 1px solid #000000}

header {background-color: #cbcbcb;
width: 100%;
padding:10px;}
h2 {text-align: center;
}
h4 {text-align:center;
}
h3 {text-align:center;

}
#back-color{
  background-color: lightgray;
}

#head1{
  text-align: center;
}

#head2{
  position: absolute;
  top: 300px;
  left: 850px;

}

#p1{
  position: absolute;
  text-indent: 50px;
  top: 150px;
  left: 300px;
  width: 1250px;
  font-size: 20px;
}

#p2{

  position: absolute;
  text-indent: 50px;
  top: 750px;
  left: 300px;
  width: 1250px;
  font-size: 20px;
}

#head3{
  position: absolute;
  top: 695px;
  left: 900px;

}

#finalfour{
  position: absolute;
  top: 430px;
  left: 700px;
  width: 500px;
}


#heading2{position: absolute; top: 130px;
  left: 80px}

#details{
  position: absolute; top: 130px;
  left: 1550px;
  font-size: 30px;
}

#absolute{position: absolute; 
  top: 180px;
  left: 50px;
  width:200px;
  font-size:20px }


#list{
  position: absolute;
  top: 180px;
  left: 1500px;
  width: 200px;
  font-size: 18px
}


#img{
  position: absolute;
  top: 500px;
  left: 1500px;
  width: 300px;
}

#img2{

  position: absolute;
  top: 500px;
  left: 50px;
  width: 300px;
}

#head4{
  font-size: 20;
}

p { margin:10px }

.candace-text {position: relative; left:450px; bottom:250px; 
	width: 250px;}
.lorri-text {position: relative; left:450px; bottom:250px; 
	width: 250px;}
.geno-text {position: relative; left:450px; bottom:250px; 
	width: 250px;}
.kim-text {position: relative; left:450px; bottom:250px; 
	width: 250px;}

#center{display: block;margin-left: auto; margin-right:auto; 
	width: 30%;}
.align {margin-left: 350px;}
.align-geno {margin-left: 300px;}


section {float: left;
width: 28%;
padding-left: 2em; padding-right: 2em; 
background-color: lightgray;
}
main{ background-color: lightgray; 
padding: 10px;
width: 100%;}

main a {text-decoration: none;}
main a:link   { color: #000000; }
main a:visited {color: #000000}
main a:hover   { color: #0ffff0; }

nav a:link   { color: #0000ff; }
nav a:visited {color: #0000ff}
nav a:hover   { color: #0ffff0; }

nav {
  width: 100%;
  height: 40px; 
  display: flex; 
  justify-content: center;
  align-items: center; 
  padding: 0 10px;
  background-color: #cbcbcb;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li { 
   display: inline;
   padding: 0 10px;

}
nav ul ul { position: absolute;
            background-color: #ffffff;
            padding: 0;
            display: none;
            font-weight: bold;
          }
nav ul ul li { border: 1px solid #000000;
         display: block;
         width: 8.1em;
         padding-left: em;
         margin-left: 0; 
        }
nav li:hover ul { display: block; }

navbar a:link    { color: #551A8B; }
navbar a:hover   { color: #0ffff0; }
navbar {
	
  width: 100%;
  height: 40px; 
  display: flex; 
  justify-content: center;
  align-items: center; 
  padding: 0 10px; 
  background-color: #cbcbcb;
}
navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

navbar li {
  margin: 0 10px; 
   display: inline;

}

footer { text-align: center;
background-color: #cbcbcb;
width: 100%; 
padding: 0 10px;}

#absolute{position: absolute; 
	top: 180px;
	left: 50px;
	width:200px; }

#list{
	position: absolute;
	top: 180px;
	left: 1500px;
	width: 200px;
}


#img{
	position: absolute;
	top: 500px;
	left: 1500px;
	width: 300px;
}

#img2{

	position: absolute;
	top: 500px;
	left: 50px;
	width: 300px;
}
#details {position: absolute; top: 130px;
	left: 1550px;
	font-size: 30px;}

#heading2{position: absolute; top: 130px;
	left: 80px}




.gallery { display: flex;
           flex-wrap: wrap;
           justify-content: space-around;
       width: 70%;
       margin: auto;

}
#wrapper { 
           
       background-color: #90C7E3;
       background-image: linear-gradient(to bottom, gray, lightgray);
}

figure { position: relative;
        opacity: .75;
        transition: all ease-out 3s;
      margin: 1em;
      z-index: 1;
        background-color: #ffffff;
      color: rgba(0,0,0,0); 
      font-size: .5em;
      text-align: center;
}

figure:hover { opacity: 1;
               transform: scale(3); 
         z-index: 999;
         box-shadow: 3px 3px 3px #333;
         color: rgba(0, 0, 0, 1); 
}
table {border: 2px solid #3399cc;
cell-spacing: none;
border-collapse: collapse;
width: 10px;
}

td,th {padding: 0.5em;
border: 2px solid #3399cc;}

td {text-align: center;}

.text {text-align: left;}

tr:nth-child(odd) {background-color:#f5fafc;}
* { box-sizing: border-box; }

h2 a {text-decoration: none;}
h2 a:link   { color: #000000; }
h2 a:visited {color: #000000;}
h2 a:hover   {color: #0ffff0; }


.style{ text-decoration: underline; } 
.coaching {position: relative; left:1000px; bottom:250px; }
.center { margin-left: auto; margin-right: auto; }
.text-center {text-align:center;}